@import '../style.scss';
@import 'festival.scss';
@import url('https://fonts.googleapis.com/css?family=Dosis');



#info-head{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 30px;
    padding-top:30px;
    padding-bottom:30px;
}

.infobox{
    display:grid;
    grid-template-columns: calc(25% - 7.5px) calc(75% - 7.5px);
    grid-gap:15px;
    font-size:18px;
}

.infobox i{
    color: #ee3a24;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #ee3a24;
    align-content: center;
    display:grid;
    font-size:23px;
    height: 100%;
}

form{
    padding-top:40px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:15px;
    text-align:right;
}

.select-button-box{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}


.infosection-more{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 30px;
    margin-top:1em;
}

.more-box{
    position:relative;
}

.more-overlay, .more-overlay-secondary{
    position:absolute;
    top: 0px;
    left: 0;
    padding: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    display:grid;
    grid-auto-rows: min-content;  
}

.more-overlay::after, .more-overlay-secondary::after{
    clear:both;
}

.more-overlay{
    align-content: end;
    color:#fff;
    text-shadow: 2px 2px 0 #292e42, -1px -1px 0 #292e42, 1px -1px 0 #292e42, -1px 1px 0 #292e42, 1px 1px 0 #292e42;
}

.more-overlay-secondary{
    background-color: $secondary-background;
    color: #000;
    display:none;
}

.more-box:hover > .more-overlay-secondary{
    display:grid;
    animation: overflow .2s ease-in-out;
}

@keyframes overflow {
    0% {
        background-color: rgba(0,192,245,0.2);
    }
    40% {
        background-color: rgba(0,192,245,0.4);
    }
    80% {
        background-color: rgba(0,192,245,0.6);
    }
  }
  
.more-box:hover > .more-overlay{
    display:none;
}

.more-overlay-secondary h3{
    font-size: 20px;
    font-weight: bold;
    margin-top:1em;
    margin-bottom:.5em;
}

.more-info-list{
    font-size:18px;
}

.more-info-list a{
    color: #fff;
}


