---
group: festival
---

<!doctype html>
<html lang='{{ site.lang }}'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <title>{% t page.title %} - {% t festival.name %}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    
    {% css festival/{{page.id}}.css %}
  </head>
  <body>
    {% include festival-header.html %}
    {{ content }}
    {% include festival-footer.html %}
  </body>
